<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-12">
    <h2>Homepage</h2>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">

    <!-- Country -->
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title"><h5>Countries</h5></div>
        <div class="ibox-content">
          <table class="table table-hover dataTables-countries">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>

    <!-- Cities -->
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title"><h5>Cities</h5></div>
        <div class="ibox-content">
          <table class="table table-hover datatable-cities">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Country</th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>

    <!-- Associations -->
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Organizations</h5>
        </div>
        <div class="ibox-content">
          <table class="table table-hover datatable-organizations">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Capital</th>
            </tr>
            </thead>
          </table>

        </div>
      </div>
    </div>

  </div><!-- end: row -->

  <div class="row">

    <!-- Companies -->
    <div class="col-lg-5">
      <div class="ibox float-e-margins">
        <div class="ibox-title"><h5>Companies</h5></div>
        <div class="ibox-content">
          <table class="table table-hover datatable-companies">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Balance</th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>

    <!-- Planes -->
    <!--<div class="col-lg-7">-->
      <!--<div class="ibox float-e-margins">-->
        <!--<div class="ibox-title"><h5>Planes</h5></div>-->
        <!--<div class="ibox-content">-->
          <!--<table class="table table-hover datatable-planes">-->
            <!--<thead>-->
            <!--<tr>-->
              <!--<th>#</th>-->
              <!--<th>Capacity</th>-->
              <!--<th>Company</th>-->
            <!--</tr>-->
            <!--</thead>-->
          <!--</table>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>

  <div class="row">

    <!-- Flights -->
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title"><h5>Flights</h5></div>
        <div class="ibox-content">
          <table class="table table-hover datatable-flights">
            <thead>
            <tr>
              <th>Company</th>
              <!--<th>Plane</th>-->
              <th>Type</th>
              <!--<th>Profit min.</th>-->
              <!--<th>Profit total</th>-->
              <th>Price per lot</th>
              <!--<th>Departure date (planned)</th>-->
              <th>Departure date (real)</th>
              <th>Arrival date</th>
              <!--<th>Arrival city</th>-->
              <th class="text-navy" style="width:110px">Booked by</th>
              <!--<th class="text-navy">Nb. seats</th>-->
              <th class="text-navy">Price</th>
            </tr>
            </thead>

          </table>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <!-- Diseases -->
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title"><h5>Diseases</h5></div>
        <div class="ibox-content">
          <table class="table table-hover datatable-diseases">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Virulence</th>
              <th>Incubation (days)</th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>

    <!-- Vaccines -->
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title"><h5>Vaccines</h5></div>
        <div class="ibox-content">
          <table class="table table-hover datatable-vaccines">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Expire (days)</th>
                <th>Price</th>
                <th>For disease</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-6">
      <!-- Patients -->
        <div class="ibox float-e-margins">
          <div class="ibox-title"><h5>Sick (patients)</h5></div>
          <div class="ibox-content">
            <table class="table table-hover datatable-patients">
              <thead>
              <tr>
                <th>#</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Infected</th>
                <th>Vaccinated</th>
              </tr>
              </thead>
            </table>
          </div>
        </div>
    </div>

    <div class="col-lg-6">

      <div class="row">
        <!-- Laboratories -->
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title"><h5>Laboratories</h5></div>
            <div class="ibox-content">
              <table class="table table-hover datatable-laboratories">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Type</th>
                </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Vaccine stock -->
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title"><h5>Vaccine stocks</h5></div>
            <div class="ibox-content">
              <table class="table table-hover datatable-stocks">
                <thead>
                <tr>
                  <th>Vaccine</th>
                  <th>Laboratory</th>
                  <th>Created at</th>
                  <th>Number</th>
                  <th>Unit price</th>
                </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>

  <div class="row">
    <div class="col-lg-12">
      <!-- Patients -->
      <div class="ibox float-e-margins">
        <div class="ibox-title"><h5>Bought vaccines</h5></div>
        <div class="ibox-content">
          <table class="table table-hover datatable-boughtvaccines">
            <thead>
            <tr>
              <th>Sum</th>
              <th>Number</th>
              <th>Date</th>
              <th>Laboratory</th>
              <th>Vaccine</th>
              <th>Organization</th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Page-Level Scripts -->
<script>
$(document).ready(function() {

    function displayDate(timestamp){
      if( timestamp == '' || timestamp == "null" || timestamp == null  ){
        return '-'
      }
      else{
        console.log(timestamp);
        return moment(timestamp).format("MM/DD/YYYY, H:mm:ss");
      }
    }
    // Countries
    var countriesTable = $('.dataTables-countries').DataTable({
        "paging": false,
        "ordering": false,
        "info":     false,
        "searching": false,
        "processing": true,
        "serverSide": true,
        "ajax": "/rest/countries",
        "columns": [
            { "data": "id" },
            { "data": "name" },
        ]
    });

    // Organizations
    var organizationsTable = $('.datatable-organizations').DataTable({
      "paging": false,
      "ordering": false,
      "info":     false,
      "searching": false,
      "processing": true,
      "serverSide": true,
      "ajax": "/rest/organizations",
      "columns": [
          { "data": "id" },
          { "data": "name" },
          { "data": "capital"}
      ],
      "columnDefs": [
        {
          "render": function ( data, type, row ) {
            return data +' (€)';
          },
          "targets": [ 2 ]
        }
      ]
    });

    // Cities
    var citiesTable = $('.datatable-cities').DataTable({
      "paging": false,
      "ordering": false,
      "info":     false,
      "searching": false,
      "processing": true,
      "serverSide": true,
      "ajax": "/rest/cities",
      "columns": [
        { "data": "id" },
        { "data": "name" },
        { "data": "country.name"}
      ]
    });

    // Planes
//    var planesTable = $('.datatable-planes').DataTable({
//      "paging": false,
//      "ordering": false,
//      "info":     false,
//      "searching": false,
//      "processing": true,
//      "serverSide": true,
//      "ajax": "/rest/planes",
//      "columns": [
//        { "data": "id" },
//        { "data": "capacity" },
//        { data: "company.name" }
//      ]
//    });

    // Companies
    var companiesTable = $('.datatable-companies').DataTable({
      "paging": false,
      "ordering": false,
      "info":     false,
      "searching": false,
      "processing": true,
      "serverSide": true,
      "ajax": "/rest/companies",
      "columns": [
        { "data": "id" },
        { "data": "name" },
        { "data": "balance" },
      ],
      "columnDefs": [
        {
          "render": function( data, type, row){
            return data + ' (€)';
          },
          targets: 2
        }
      ]
    });

    var flightsTable = $('.datatable-flights').DataTable({
      "paging": true,
      "ordering": true,
      "searching": true,
      "processing": true,
      "serverSide": false,
      "ajax": "/rest/flights",
      "columns": [
        { "data": "company.name" },
//        { "data": "plane.id" },
        { "data": "type" },
//        { "data": "minProfit" },
//        { "data": "totalProfit" },
        { "data": "pricePerLot" },
//        { "data": "departureDatePlanned" },
        { "data": "departureDateReal" }, // date
        { "data": "arrivalDate", className: 'timestamp' }, // date
//        { data: "arrivalCity.name" },
        { data: "bookings" },
//        { data: "bookings" },
        { data: "bookings" }
      ],
      "columnDefs": [
        {
          "render": function ( data, type, row ) {
            return displayDate(data);
          },
          "targets": [3,4]
        },
        {
          "render": function ( data, type, row ) {
            return data +' (€)';
          },
          "targets": [ 2 ]
        },
        {
          "render": function( data, type, row){
            // data = booking
            var html = '';
            _.each(data, function(entry){
              html += entry.organization.name + '<br>';
            });
            return html;
          },
          targets: [5]
        },
//        {
//          "render": function( data, type, row){
//            // data = booking
//            var html = '';
//            _.each(data, function(entry){
//              html += entry.seats + '<br>';
//            });
//            return html;
//          },
//          targets: [10]
//        },
        {
          "render": function( data, type, row){
            // data = booking
            var html = '';
            _.each(data, function(entry){
              html += entry.price + '(€)<br>';
            });
            return html;
          },
          targets: [6]
        }
      ]
    });

    var diseasesTable = $('.datatable-diseases').DataTable({
      "paging": false,
      "ordering": false,
      "info":     false,
      "searching": false,
      "processing": true,
      "serverSide": true,
      "ajax": "/rest/diseases",
      "columns": [
        { "data": "id" },
        { "data": "name" },
        { "data": "virulence" },
        { "data": "incubation" },
      ]
    });

    var vaccinesTable = $('.datatable-vaccines').DataTable({
      "paging": false,
      "ordering": false,
      "info":     false,
      "searching": false,
      "processing": true,
      "serverSide": true,
      "ajax": "/rest/vaccines",
      "columns": [
        { "data": "id" },
        { "data": "name" },
        { "data": "expire" },
        { "data": "price" },
        { "data": "treatenDisease.name" },
      ]
    });

    var laboratoriesTable = $('.datatable-laboratories').DataTable({
      "paging": false,
      "ordering": false,
      "info":     false,
      "searching": false,
      "processing": true,
      "serverSide": true,
      "ajax": "/rest/laboratories",
      "columns": [
        { "data": "id" },
        { "data": "name" },
        { "data": "type" },
      ]
    });

    var stocksTable = $('.datatable-stocks').DataTable({
      "paging": false,
      "ordering": false,
      "info":     false,
      "searching": false,
      "processing": true,
      "serverSide": true,
      "ajax": "/rest/stocks",
      "columns": [
        { "data": "vaccine.name" },
        { "data": "laboratory.name" },
        { "data": "createdAt" },
        { "data": "number" },
        { "data": "unitPrice" },
      ],
      "columnDefs": [
        {
          "render": function ( data, type, row ) {
            return displayDate(data);
          },
          "targets": [2]
        },
      ]
    });

    var patientsTable = $('.datatable-patients').DataTable({
      "paging": false,
      "ordering": false,
      "info":     false,
      "searching": false,
      "processing": true,
      "serverSide": true,
      "ajax": "/rest/patients",
      "columns": [
        { "data": "firstName" },
        { "data": "lastName" },
        { "data": "infectedDay" },
        { "data": "vaccinatedDay" },
      ],
      "columnDefs": [
        {
          "render": function ( data, type, row ) {
            return displayDate(data);
          },
          "targets": [2,3]
        },
      ]
    });

  var boughtVaccinesTable = $('.datatable-boughtvaccines').DataTable({
    "paging": false,
    "ordering": false,
    "info":     false,
    "searching": false,
    "processing": true,
    "serverSide": true,
    "ajax": "/rest/boughtVaccines",
    "columns": [
      { "data": "sum" },
      { "data": "number" },
      { "data": "date" },
      { "data": "laboratory.name" },
      { "data": "vaccine.name" },
      { "data": "organization.name" },
    ],
    "columnDefs": [
      {
        "render": function ( data, type, row ) {
          return displayDate(data);
        },
        "targets": [2]
      },
    ]
  });

    setInterval( function () {
      countriesTable.ajax.reload();
      citiesTable.ajax.reload();
      organizationsTable.ajax.reload();
      companiesTable.ajax.reload();
//      planesTable.ajax.reload();
      flightsTable.ajax.reload();
      diseasesTable.ajax.reload();
      vaccinesTable.ajax.reload();
      laboratoriesTable.ajax.reload();
      stocksTable.ajax.reload();
      patientsTable.ajax.reload();
      boughtVaccinesTable.ajax.reload();
    }, 10000 );


});
</script>

