<!DOCTYPE html>
<html>
  <head>
    <title>Agents UI</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--STYLES-->
    <link rel="stylesheet" href="/styles/animate.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/plugins/angular-notify/angular-notify.min.css">
    <link rel="stylesheet" href="/styles/plugins/colorpicker/colorpicker.css">
    <link rel="stylesheet" href="/styles/plugins/dataTables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/styles/plugins/dataTables/dataTables.responsive.css">
    <link rel="stylesheet" href="/styles/plugins/dataTables/dataTables.tableTools.min.css">
    <link rel="stylesheet" href="/styles/plugins/datapicker/angular-datapicker.css">
    <link rel="stylesheet" href="/styles/plugins/datapicker/datepicker3.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-2.1.1.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/dependencies/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/js/dependencies/moment.js"></script>
    <script src="/js/dependencies/plugins/jeditable/jquery.jeditable.js"></script>
    <script src="/js/dependencies/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/js/dependencies/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="/js/dependencies/plugins/dataTables/dataTables.responsive.js"></script>
    <script src="/js/dependencies/plugins/dataTables/dataTables.tableTools.min.js"></script>
    <script src="/js/dependencies/plugins/flot/jquery.flot.js"></script>
    <script src="/js/dependencies/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/js/dependencies/plugins/flot/jquery.flot.resize.js"></script>
    <script src="/js/dependencies/plugins/flot/jquery.flot.pie.js"></script>
    <script src="/js/dependencies/plugins/flot/jquery.flot.time.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/dependencies/plugins/pace/pace.min.js"></script>
    <!--SCRIPTS END-->

  </head>

  <body>


    <div id="wrapper">

      <%- partial('navbar') %>

      <div id="page-wrapper" class="gray-bg">

        <%- body %>

        <div class="footer">
          <div class="pull-right">
            Jade agents project.
          </div>
          <div>
            <strong>Copyright</strong> MIAGE © 2015
          </div>
        </div>

      </div>

    </div>



    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


  </body>
</html>
