<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
      <li>
        <a href="/"><i class="fa fa-database"></i> <span class="nav-label">Home</span></a>
      </li>
      <li>
        <a href="/stats"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Stats</span></a>
      </li>
      <li>
        <a href="/organizations"><i class="fa fa-group"></i> <span class="nav-label">Organizations</span></a>
      </li>
    </ul>
  </div>
</nav>
